<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8"/>

    <style>

        @page{
        size:A4;
        margin:10mm;
        }

        body{
        font-family:Arial;
        font-size:12px;
        }

        table{
        width:100%;
        border-collapse:collapse;
        }

        .main{
        border:1px solid black;
        }

        .main td,
        .main th{
        border:1px solid black;
        padding:6px;
        }

        .no-border,
        .no-border td{
        border:none;
        }

        .bold{
        font-weight:bold;
        }

        .right{
        text-align:right;
        }

        .center{
        text-align:center;
        }

        .items th{
        background:#f2f2f2;
        }

    </style>

</head>

<body>

<table class="main">

    <tr>

        <td width="60%">

            <table class="no-border">

                <tr class="no-border">

                    <td class="no-border" width="100">

                        <img src="logo.png" width="90"/>

                    </td>

                    <td class="no-border">

                        <div class="bold" th:text="${invoice.companyName}"></div>

                        <div th:text="${invoice.companyAddress}"></div>

                        GSTIN/UIN :
                        <span th:text="${invoice.gstin}"></span>
                        <br/>

                        Contact :
                        <span th:text="${invoice.contactNumber}"></span>

                        <br/>

                        Email :
                        <span th:text="${invoice.email}"></span>

                    </td>

                </tr>

            </table>

        </td>

        <td width="40%">

            PI No :
            <span th:text="${invoice.piNumber}"></span>

            <br/><br/>

            Dated :
            <span th:text="${invoice.piDate}"></span>

            <br/><br/>

            Mode/Terms of Payment :
            <span th:text="${invoice.modeOfPayment}"></span>

            <br/><br/>

            Terms of Delivery :
            Ex-Works

        </td>

    </tr>

    <tr>

        <td>

            <b>Consignee (Ship To)</b>

            <br/><br/>

            <span th:text="${invoice.shipTo.name}"></span>

            <br/>

            <span th:text="${invoice.shipTo.address}"></span>

            <br/>

            GST :
            <span th:text="${invoice.shipTo.gstin}"></span>

            <br/>

            State :
            <span th:text="${invoice.shipTo.state}"></span>

            <br/>

            State Code :
            <span th:text="${invoice.shipTo.stateCode}"></span>

        </td>

        <td>

            <b>Buyer (Bill To)</b>

            <br/><br/>

            <span th:text="${invoice.billTo.name}"></span>

            <br/>

            <span th:text="${invoice.billTo.address}"></span>

            <br/>

            GST :
            <span th:text="${invoice.billTo.gstin}"></span>

            <br/>

            State :
            <span th:text="${invoice.billTo.state}"></span>

            <br/>

            State Code :
            <span th:text="${invoice.billTo.stateCode}"></span>

        </td>

    </tr>

</table>

<br/>

<table class="main items">

    <tr>

        <th>Sr No</th>
        <th>Description of Goods</th>
        <th>HSN</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Per</th>
        <th>Amount</th>

    </tr>

    <tr th:each="item : ${invoice.items}">

        <td th:text="${item.srNo}"></td>

        <td th:text="${item.description}"></td>

        <td th:text="${item.hsnCode}"></td>

        <td class="right" th:text="${item.quantity}"></td>

        <td class="right" th:text="${item.ratePerUnit}"></td>

        <td th:text="${item.unit}"></td>

        <td class="right" th:text="${item.amount}"></td>

    </tr>

</table>

<br/>

<table class="main">

    <tr>

        <td width="60%">

            Amount Chargeable (in words)

            <br/><br/>

            <b th:text="${invoice.amountInWords}"></b>

            <br/><br/>

            Declaration :

            <br/>

            We declare that this invoice shows the actual price of the goods described.

        </td>

        <td width="40%">

            <b>Tax Details</b>

            <br/><br/>

            Subtotal :
            <span class="right" th:text="${invoice.subtotal}"></span>

            <br/><br/>

            CGST :
            <span class="right" th:text="${invoice.cgst}"></span>

            <br/><br/>

            SGST :
            <span class="right" th:text="${invoice.sgst}"></span>

            <br/><br/>

            IGST :
            <span class="right" th:text="${invoice.igst}"></span>

            <br/><br/>

            <b>Grand Total :</b>
            <span class="right bold" th:text="${invoice.grandTotal}"></span>

        </td>

    </tr>

</table>

<br/>

<table class="main">

    <tr>

        <td class="center">

            <br/><br/>

            for
            <span th:text="${invoice.companyName}"></span>

            <br/><br/><br/>

            Authorised Signatory

        </td>

    </tr>

</table>

</body>

</html>